.OwnerRequests-home{
    width:100%;
    padding: 4%;
}
.OwnerRequests-home h3 {
    color: #28231f;
    width: fit-content;
}
.OwnerRequestsList{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.OwnerRequest-list{
    width: 70%;
}
.OwnerRequest-list p {
    margin: 0%;
}
.OwnerRequest-Details{
    width: 0%;
}
.Request-view{
    width: fit-content;
}
.OwnerRequest-map{
    /* width:200px; */
    height: 100px;
    border: solid #28231f;
    border-width: thin;
}
.OwnerRequest-Details-container{
    border: solid #28231f;
    border-width: thin;
}
.fa-check, .fa-times-circle ,.fa-phone{
    width: fit-content;
    color: #fff;
}
@media screen and (max-width: 800px){
    .OwnerRequestsList{
        flex-direction: column;
    }
    .OwnerRequest-list{
        width: 100%;
    }
    .OwnerRequest-Details{
        width: 100%;
    }
}