.Advertisements-home {
    /* padding: 1%; */
    /* padding-left: 50px;
    padding-right: 50px; */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* gap: 20px; */
}
.Advertisements-search {
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(3, auto); */
    /* grid-template-columns: 40% 20% 40%; */
    grid-gap: 10px;
    align-items: center;
    margin-top: 20px;
    /* padding-left: 100px; */
    /* padding-left: 20px;
    padding-right: 20px; */
}
.form-control{
	border-radius: 7px;
	border: 1.5px solid #ff8c01;
    /* background-color: #f2f2f2; */
}
.input-group{
    margin-bottom: 0px;
    align-self: flex-start;
    z-index: 0;
    
}
input.form-control:focus{
	box-shadow: none;
	border: 1.5px solid #ff8c01;
	background-color: #ffffff;
	letter-spacing: 1px;
}
.input-group-append{
	background-color: #ff8c01!important;
	border-radius: 7px;
    border-top-left-radius:0px ;
    border-bottom-left-radius: 0px;
    border: #ff8c01;
    color:#fff;
    height:38px;
}
.fa-search{
    color:#fff;
}
.btn-primary{
    background-color: #ff8c01;
	border-radius: 7px;
    border: #ff8c01;
}
.btn-primary:focus{
	box-shadow: none;
}
.input-group-append {
    width: fit-content;
}
.btn-outline-success {
    display: flex;
    align-items: center;
}
.location-btn-text{
    width: fit-content;
}
.fa-map-marker-alt{
    width: fit-content;
    padding-right: 10px;
}
.select-vehical-type{
    display: flex;
    justify-content: flex-start;
    grid-gap: 5px;
    grid-template-columns: repeat(3, auto);
    align-items: center;
}
label.check {
    cursor: pointer;
    margin-bottom: 0px;
    max-width: fit-content;
  }

  label.check input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }
  label.check span {
    padding: 7px 14px;
      border: 1px solid #ff8c01;
      color: #ff8c01;
      border-radius: 3px;
      text-transform: uppercase;
      display: flex;
      margin-bottom: 0px;
      align-items: center;
      gap: 10px;
  }
  label.check input[type=checkbox]:checked + span {
    border-color: #ff8c01;
      background-color: #ff8c01;
      color: #fff;
  }
  .Advertisements-new {
    display: none;
    /* display: flex;
    justify-content: flex-start;
    flex-direction: column; */
    /* align-items: flex-end;
    padding-top: 20px; */
    /* padding-left: 20px; */
  }
  .btn-add-Advertisement-btn {
    border-color: #ff8c01;
      background-color: #ff8c01;
      color: #fff;
      border-radius: 35px;
      width: 100px;
}
.btn-add-Advertisement-btn:hover {
    background-color: #f2f2f2;
    border-color: #ff8c01;
    color: #ff8c01;
}
.btn-add-Advertisement-btn span{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.fa-plus{
    width: fit-content;
}
.add-Advertisement-btn-text{
    width:fit-content
}
.advertistment-container{
    display: flex;
}
.advertistment-search{
    width:20%;
    height: fit-content;
}
.OwnerlistSearch{
    height: fit-content;
}
.Advertisements-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap:10px;
    padding: 1.5% 0.5% 1.5% 0.5%;
    /* max-height: 500px; */
    overflow-y: scroll;
    /* justify-content: space-around; */
    /* padding-left: 200px; 
     padding-right: 200px; */
}
.Advertisement-card{
    /* display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-columns: 160px 1fr ; */
    display: flex;
    background-color: #ffffff;
    border:solid #ff8c01;
    border-width: 1px;
    height: 140px;
    /* width:1000px; */
    
    /* max-width: 1500px; */
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    max-width: 800px;
    text-decoration-color: none;
    color: #28231f;    
}
/* .Advertisement-card:hover{
    text-decoration: none;
    border: solid #28231f;
    border-width: 2px;
    color:#28231f;
    
} */
.Advertisement-image{
    padding: 20px;
    max-width: fit-content;
}
.Advertisement-card img {
    height: 100px;
    width:100px;
}
.Advertisement-details{
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 0px;
    height: inherit;
    justify-content: center;
}
.Advertisement-details p{
    margin-bottom: 0px;
}
.Advertisement-details h4{
    font-weight: bold;
       font-size: large;
    margin-bottom: 0px;
}
.Advertisement-details p1{
    font-size: small;
}
.Advertisement-details button{
    font-size:small;
    width: fit-content;
    cursor: pointer;
}
.Advertisement-details p2 {
    padding: 5px 5px 5px 0px;
    font-size: small;
    width:fit-content;
    justify-content: center;
    display: flex;
    color: #fff;
    background-color: green;
}
.Advertisement-details-lication{
    font-size:small;
}
.ad-details{
    display: flex;
    justify-content: space-between;
}
.Advertisement-details-expand-active{
    display: flex;
    width: 30%;
    padding: 1.5%;
    height: fit-content;
    max-height: 500px;
    overflow-y: scroll;
}
.Advertisement-details-expand-hide{
    display: none;
}
.Owners-Advertisementz-active{
    display: flex;
    width: 50%;
    padding: 1.5%;
    height: fit-content;
    
}
.Owners-Advertisementz-hide{
    display: none;
}
.Advertisement-details-card{
    width:100%;
    height: fit-content;
    
}
.close-btn{
    width: fit-content;
    cursor: pointer;
}
.your-Advertisements-container h5{
    font-weight: bold;
       font-size: large;
       padding: 20px 0px 0px 10px;
       width: fit-content;
       color:#28231f
}
.Advertisements-list-owners{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 1.5% 0.5% 1.5% 0.5%;
    max-height: 450px;
    overflow-y: scroll;
}
.edit-your-ads{
    gap: 10px;
}
.edit-your-ads button{
    width: fit-content;
    border: none;
    background-color: transparent;
    text-decoration:underline;
    color: #ff8c01;
    font-size: x-small;
}
.fa-share{
    width: fit-content;
}
.Advertisement-new-expand-active{
    display: flex;
    width: 100%;
    position: absolute;
    margin: auto;
    max-width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    z-index: 99999;
}
.Advertisement-new-expand-hide{
    display: none;
}
.new-Ad-container{
    width: 100%;
    height: fit-content;
}
  @media screen and (max-width: 800px) {
    .Advertisements-home{
        gap: 0px;
        flex-direction: column;
    }
    .Advertisements-search{
        margin-bottom: 20px;
    }
    .location-btn-text , .vehival-type-chexkbox-text{
        /* display: none; */
        justify-content: space-around;
    }
    .fa-map-marker-alt{
        padding-right: 0%;
    }
    .Advertisements-search {
        /* display: grid;
        grid-template-columns: repeat(1, auto); */
        /* grid-template-columns: 40% 20% 40%; */
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        padding-left: 10px;
        align-items: center;
    }
    .input-group{
        max-width: 500px;
    }
    .btn-outline-success{
        max-width: 300px;
    }
    .select-vehical-type{
        grid-gap: 10px;
    }
    .select-vehical-type span {
        max-width: fit-content;
    }
    .Advertisements-new {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        right: 0px;
        width: fit-content;
        padding-left: 20px;
    }
    .advertistment-container{
       padding-left: 1rem;
    }
    .advertistment-search{
        width:50%
    }
    .Advertisements-list{
        padding: 0px 0px 20px 0px;
        width: 100%;
        align-items: center;
        width: fit-content;
        justify-content: center;
        max-height: fit-content;
        overflow: hidden;
    }
    
    .Advertisement-details-expand-active{
        width: 100%;
        position:absolute;
        margin: auto;
        max-width: fit-content;
        top: calc(50% + 80px);
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3%;
        z-index: 99999;
    }
    .Owners-Advertisementz-active{
        padding: 0%;
        display: none;
    }
    .Advertisement-details-card{
        margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 500px) {
    .advertistment-search{
        width:100%
    }
    .Advertisement-card {
        height: 110px;
        width: 75%;
        min-width:fit-content;
    }
    .Advertisement-card img {
        height: 80px;
        width: 80px;
    }
    .Advertisement-image {
        padding: 10px;
    }
    .Advertisement-details{
        padding: 10px;
    }
    .Advertisement-details h4{
        font-weight: bold;
       font-size: small;
    }
    .Advertisement-details p1 , .Advertisement-details p2{
        font-size:x-small;
    }
    .Advertisement-details p2{
        padding: 3px 0px 3px 0px;
        color: green;
    background-color:transparent;
    }
    .Advertisement-details button{
        font-size: xx-small;
        /* color:#ff8c01;
    background-color: transparent;
    padding: 0px 0px 3px 0px;
    text-decoration: underline; */
    }

  }