.total_login{
    background-color: white;
    /* border: 1px solid #ff8c01; */
    border-radius: 5px;

}

.login_form {
    padding:10px !important;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #ff8c01 !important;
    border-color: #ff8c01  !important;
}

.btn-primary:hover {
    background-color: #ffffff !important;
    color:#ff8c01 !important;
    border-color: #ff8c01  !important;
}

.home {
    min-height:675px !important;
}

/* .tabclass:active{
    color:red;
} */
/* .nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    color:black !important;
} */

/* .nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link.active {
    color:orange !important;
} */

/* .nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link.active {
    color:orange !important;
} */



/* .nav {
   color: green !important;
} */

.nav-tabs .nav-link.active {
    font-weight: bold;
    background-color: #FFD29B!important;
}

.nav-tabs .nav-link{
    color:black !important;
}